body {
  font-family: "Merriweather-Regular", sans-serif;
  margin: 0;
  background: #f5f5f5;
}

@font-face {
  font-family: Merriweather-Regular;
  src: url("fonts/Merriweather-Light.ttf");
  font-weight: 400;
}

input,
input:focus {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0px;
}

h1 {
  margin-block-end: 0.3em;
}

h2 {
  margin-block-start: 0em;
}

.wrapper {
  margin: 2% auto;
  width: 900px;
  background: #3c424a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.wrapper .title {
  color: #e1eaf2;
  text-align: center;
  font-size: 25px;
}

.header {
  height: 60px;
  border-bottom: 2px solid #343a40d8;
}

.header__wrapper {
  height: 100%;
  padding: 20px 240px 10px 240px;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.header__nav ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav__a {
  font-family: "Merriweather-Regular";
  color: #9198a1;
  font-size: 20px;
  text-decoration: none;
}

.active {
  color: #e1eaf2;
}

.nav__a:hover {
  color: #e1eaf2;
}

.wrapper .input-todo {
  text-align: center;
}

.main-content__wrapper {
  padding-top: 20px;
}

.wrapper .input-todo input {
  height: 72px;
  width: 516px;
  font-size: 30px;
  font-family: "Merriweather-Regular";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 80%;
  background: #343a40;
  color: #9198a1;
  margin-bottom: 20px;
  padding-left: 60px;
}

.wrapper .input-todo input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
  transition-timing-function: ease;
}

.wrapper .input-todo input::-webkit-input-placeholder {
  color: #9198a1;
  opacity: 40%;
}

.wrapper .todo-list .todo-list__ul {
  padding-inline-start: 0px;
}

.description {
  text-align: center;
  color: #9198a1;
  font-family: "Merriweather-Regular";
}

.wrapper .input-todo .arrow {
  position: absolute;
  content: "";
  background: url(./arrow.png);
  width: 40px;
  height: 30px;
  background-size: 100% 100%;
  left: 10px;
  top: 23px;
  cursor: normal;
}

.input-todo .input-todo__wrapper {
  width: 576px;
  margin: 0 auto;
  position: relative;
}

.todo-list__empty {
  height: 50px;
  color: #e1eaf2d3;
  font-family: "Merriweather-Regular";
  font-size: 30px;
  text-align: center;
  opacity: 30%;
}

.ul__li {
  color: #e1eaf2a4;
  min-height: 100%;
  list-style-type: none;
  font-family: "Merriweather-Regular";
  font-size: 24px;
  padding: 16px 16px 16px 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.ul__li input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #3c424a;
}

.ul__li input[type="checkbox"]:checked {
  color: yellow;
}

.ul__li:hover .li__delete {
  visibility: visible;
}

.ul__li input[type="text"] {
  display: none;
}

.li__text {
  margin-left: 10px;
  word-break: break-all;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
}

.li__delete {
  top: auto;
  right: 10px;
  display: flex;
  align-items: center;
  visibility: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  opacity: 80%;
}

.li__delete:hover {
  opacity: 100%;
}

.false {
  background: url(./checkboxFalse.png);
  background-size: 100% 100%;
  min-height: 30px;
  min-width: 30px;
  cursor: pointer;
}

.true {
  background: url(./checkboxTrue.png);
  min-height: 30px;
  min-width: 30px;
  background-size: 100% 100%;
  cursor: pointer;
}

.footer {
  position: relative;
  border-top: 2px solid#343a40d8;
}

.footer__text {
  height: 30px;
  padding-left: 25px;
  padding-top: 10px;
  color: #e1eaf22f;
  font-size: 15px;
}

.header__clear {
  position: absolute;
  top: 9px;
  right: 10px;
}

.clear__a {
  font-family: "Merriweather-Regular";
  color: #9198a1;
  font-size: 17px;
  text-decoration: none;
}

.clear__a:hover {
  color: #e1eaf2;
}

.editing input[type="text"] {
  display: block;
  width: 100%;
  min-height: 35px;
  font-size: 30px;
  font-family: "Merriweather-Regular";
  background: #343a40;
  color: #9198a1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.editing div {
  display: none;
}

.editing input[type="checkbox"] {
  visibility: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .ul__li .li__delete {
    visibility: visible;
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .wrapper {
    width: 100%;
  }

  .header__wrapper {
    padding: 20px 50px 0px 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 590px) {
  .wrapper {
    margin: 0px auto;
  }
  .wrapper .input-todo input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
  }

  .wrapper .input-todo .arrow {
    height: 17px;
    width: 20px;
    left: 15px;
    top: 12px;
  }

  .input-todo .input-todo__wrapper {
    width: 100%;
  }

  .header__wrapper {
    padding: 20px 20px 0px 20px;
  }

  .header {
    height: 50px;
  }

  .todo-list__ul {
    margin-block-start: 0em;
  }

  .ul__li {
    padding: 16px 16px 16px 16px;
    font-size: 20px;
  }

  .nav__a {
    font-size: small;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }

  .false,
  .true {
    min-width: 20px;
    min-height: 20px;
  }

  .footer__text {
    visibility: hidden;
  }

  .footer .header__clear .clear__a {
    font-size: 15px;
  }
}
